<!-- recipe_app/templates/registration/profile.html -->
{% extends 'base.html' %}

{% block title %}Ваш профиль{% endblock %}

{% block content %}
<div class="content">
    <h2 class="user-name">Ваше имя: {{ user.username }}</h2>
    <h3 class="section-title">Ваши рецепты</h3>
</div>
<div class="recipes-section">
    <div class="recipe-cards">
        {% if recipes %}
            {% for recipe in recipes %}
                <div class="recipe-card">
                    <div class="recipe-author">{{ recipe.author.username }}</div>
                    <h3>{{ recipe.title }}</h3>
                    <a href="{% url 'recipe_detail' recipe.id %}">
                    <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" class="recipe-image">
                    </a>
                    <p>{{ recipe.description }}</p>
                    <p>Время приготовления: {{ recipe.preparation_time }} мин.</p>
                    <a href="{% url 'recipe_detail' recipe.id %}" class="recipe-link submit-button">Подробнее</a>
                    <!-- Ссылка для редактирования рецепта -->
                    <a href="{% url 'edit_recipe' recipe.id %}" class="recipe-link submit-button">Редактировать</a>

                    <!-- Форма для удаления рецепта -->
                    <form action="{% url 'delete_recipe' recipe.id %}" method="get" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="delete-button">Удалить</button>
                    </form>
                </div>
            {% endfor %}
        {% else %}
            <p>У вас еще нет рецептов.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
