<!-- recipe_app/templates/recipes/add_recipe.html -->
{% extends 'base.html' %}
{% block title %}Добавить рецепт{% endblock %}
{% block content %}
<h2 class="section-title">Добавьте новый рецепт</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-section">
        <h3 class="form-title">Напишите название рецепта</h3>
        {{ form.title }}
    </div>

    <div class="form-section">
        <h3 class="form-title">Выборите категорию</h3>
        {{ form.categories }}
    </div>

    <div class="form-section">
        <h3 class="form-title">Описание рецепта</h3>
        {{ form.description }}
    </div>

    <div class="form-section">
        <h3 class="form-title">Ингредиенты</h3>
        {{ form.ingredients }}
    </div>

    <div class="form-section">
        <h3 class="form-title">Шаги приготовления</h3>
        {{ form.preparation_steps }}
    </div>

    <div class="form-section">
        <h3 class="form-title">Время приготовления в минутах</h3>
        {{ form.preparation_time }}
    </div>

    <div class="form-section">
        <h3 class="form-title">Добавьте фото</h3>
        {{ form.image }}
    </div>

    <button type="submit" class="submit-button">Сохранить рецепт</button>
</form>
{% endblock %}

