<!-- recipe_app/templates/recipes/recipe_detail.html -->
{% extends 'base.html' %}
{% block title %}{{ recipe.title }}{% endblock %}
{% block content %}
<h2>{{ recipe.title }}</h2>
<p><strong>Категория:</strong>
    {% for category in recipe.categories.all %}
    {{ category.name }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
</p>
<p>{{ recipe.description }}</p>
<p><strong>Время приготовления:</strong> {{ recipe.preparation_time }} мин.</p>
<img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
{% if recipe.ingredients %}
<h3>Ингредиенты:</h3>
<p>{{ recipe.ingredients|linebreaks }}</p>
{% endif %}
<h3>Шаги приготовления:</h3>
<p>{{ recipe.preparation_steps|linebreaks }}</p>
{% endblock %}
